<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans">
	<bean id="springTestBean" class="com.xiaoshabao.example.module.spring.SpringTestBean">  
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
    </bean>  
</beans>
